<div class="row marketing">
    <input type="text" placeholder="Find you sounds..." ng-model="sound" />
    <button ng-click="findSound()" type="button" class="btn btn-success">Find my sound</button>
</div>

<div class="row marketing">
   
        
        <div ng-repeat="sound in sounds">
            getBackgroundStyle
            <!-- {'background-image': 'url(' + sound.artwork_url + ')'} -->
            <div class="col-lg-4 album-art music-player jp-video-270p" ng-if="sound.artwork_url.length" ng-style="getBackgroundStyle(sound.artwork_url)">
                <div ng-style="getBackgroundStyle({{sound.artwork_url}})"></div> 
                <div class="info">
                    {{sound.title}}
                    {{sound.band}}
                </div>
                <div class="controls">
                    <a class="play" ng-click="play(sound.id)" >
                        <i class="glyphicon" ng-class="{'glyphicon-play': !playing, 'glyphicon-pause': playing}"></i>
                    </a>                
                </div>
            </div>
            
            <!--
            <div ng-if="sound.artwork_url.length" class="album-art" ng-style="{'background-image': 'url({{sound.artwork_url}})'}">
                <div class="details" ng-class="{'playing':started}">
                  <div class="track-info">
                    <h4>{{sound.title}}</h4>
                    <p>{{sound.user.username}}</p>
                      
                      
                  </div>
                  <a class="play" ng-click="play(sound.id)" >
                        <i class="glyphicon" ng-class="{'glyphicon-play': !playing, 'glyphicon-pause': playing}"></i>
                    </a>
                    
                    
                    <br>
                    <br>
                   
                    
                </div>
                
                       <!-- <a class="pause" ng-click="pause()" >Pause</a>   
                    
            </div>
        -->
        </div>


</div>