<div class="row marketing">
    <input type="text" placeholder="Find you sounds..." ng-model="sound" />
    <button ng-click="findSound()" type="button" class="btn btn-success">Find my sound</button>
</div>

<div class="row marketing">
    <div class="col-lg-12">  
        <div ng-repeat="sound in sounds">
            <div ng-if="sound.artwork_url.length" class="album-art" ng-style="{'background-image': 'url({{sound.artwork_url}})'}">
                <div class="details" style="position: absolute; bottom: 0;" ng-class="{'playing':started}">
                  <div class="track-info">
                    <h4>{{sound.title}}</h4>
                    <p>{{sound.user.username}}</p>
                      
                      
                  </div>
                  <a class="play" ng-click="play(sound.id)" >
                        <i class="glyphicon" ng-class="{'glyphicon-play': !playing, 'glyphicon-pause': playing}"></i>
                    </a>
                    
                    
                    <br>
                    <br>
                   
                    
                </div>
                    <div id="disc" class="rotateDisc" style="transform: rotate(0deg);"></div>
                       <!-- <a class="pause" ng-click="pause()" >Pause</a>   -->
                    
            </div>
        </div>

    </div> 
</div>